# Notes for tracking packages required after a fresh installation of Ubuntu 24.04

git
ansible
docker #see https://docs.docker.com/engine/install/ubuntu/ for detailed instructions.  These instructions also failed and an LLM bailed me out.  Need to add the docker.socket service then add the local user account to the 'docker' group, which had to be created.  Nothing can be easy...
ca-certificates
curl
pip
htop
btop
yq
whois
vault #snap install
helm #snap install with --classic
kubectl #snap install with --classic
net-tools
python3-all-venv
sshpass
netlab #this takes a bit of doing as netlab was installed in a python venv
    #python3 -m venv netlab-venv/
    #source netlab-venv/bin/activate
    #pip install networklab
    #netlab install ansible
    #netlab install containerlab
    #netlab install grpc
    #netlab install graph
pulseaudio-utils #troubleshooting broken audio with dell dock.  nothing can be easy.
wireplumber
pipewire-audio-client-libraries