!
! Physical Interfaces
{% if interfaces is defined %}
{% for interface in interfaces %}
{% if interface.type.value in ['1000base-t', '10gbase-x-sfpp'] %}
interface {{ interface.name }}
   {% if interface.description %}
   description {{ interface.description }}
   {% endif %}
   {% if interface.enabled == false %}
   shutdown
   {% else %}
   no shutdown
   {% endif %}
   {% if interface.mode and interface.mode.value == 'access' %}
   switchport mode access
   switchport access vlan {{ interface.untagged_vlan.vid }}
   {% elif interface.mode and interface.mode.value == 'tagged' %}
   switchport mode trunk
   switchport trunk allowed vlan {{ interface.tagged_vlans | map(attribute='vid') | join(',') }}
   {% else %}
   no switchport
   {% if interface.ip_addresses %}
   {% for ip in interface.ip_addresses %}
   ip address {{ ip.address }}
   {% endfor %}
   {% endif %}
   {% endif %}
!
{% endif %}
{% endfor %}
{% endif %}