!
! Loopback for VTEP
{% set loopback1 = interfaces.get(name='Loopback1') %}
{% if loopback1 and loopback1.ip_addresses.first() %}
interface Loopback1
   description VTEP Loopback
   ip address {{ loopback1.ip_addresses.first().address }}
{% endif %}

!
! VXLAN Configuration
{% if config_context[0].vxlan is defined %}
{% set vxlan = config_context[0].vxlan %}

! VXLAN interface
interface Vxlan1
   description VXLAN Tunnel Interface
   {% if vxlan.vtep_source_interface is defined %}
   vxlan source-interface {{ vxlan.vtep_source_interface }}
   {% endif %}
   {% if vxlan.udp_port is defined %}
   vxlan udp-port {{ vxlan.udp_port }}
   {% endif %}
   {% if vxlan.vlan_vni_mappings is defined %}
   {% for mapping in vxlan.vlan_vni_mappings %}
   vxlan vlan {{ mapping.vlan }} vni {{ mapping.vni }}
   {% endfor %}
   {% endif %}
   {% if vxlan.flood_vtep_list is defined %}
   {% for vlan_flood in vxlan.flood_vtep_list %}
   vxlan flood vtep {{ vlan_flood.vteps | join(' ') }}
   {% endfor %}
   {% endif %}
!
{% endif %}